.btn-custom-border {
    border-color: black;
}

.no-underline {
    text-decoration: none;
  }

.text-black {
    color: black;
}

label {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
}